@import "colors.scss";

div.add-course {
  &-dialog {
    width: 400px;
    max-width: 90vw;
    div.information-text { 
      margin-bottom: 10px;
    }
    div.add-tooltip {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
      border: 1px solid $blueprint-primary-color;
      &>img {
        width: 100%;
      }
    }
  }
}
