@import 'colors.scss';

.stars-panel {
    text-align: center;
    color: $secondary-color;
    .title {
        color: black;
        font-size: 1.5rem;
    }
    .stars-container {
        margin: 1rem 0 0.25rem 0;
        span{
            margin: 0 0.2rem;
            cursor: pointer;
        }
    }
}