@import "colors.scss";
@import "global.scss";

$left-radius: 3px 0 0 3px; 
$right-radius: 0 3px 3px 0; 
$top-radius: 3px 3px 0 0; 
$bottom-radius: 0 0 3px 3px;

.rate-panel { 
    color: $table-font-color;
    margin: 1rem 0;
    .row {
        display: flex;
        margin: 1rem 0;            
        @media (max-width: $mobile-screen-width) {
            display: inline;       
        }
        &>div {
            padding: 0;
            text-align: left;
            display: grid;
            .main-card, .details-card {
                padding: 10px;
            }
            .main-card {
                background: $table-light-grey-main;  
                border-radius: $left-radius;               
                @media (max-width: $mobile-screen-width) {
                    border-radius: $top-radius; 
                }
                .course-type {
                    font-size: 110%;
                    font-weight: 600;
                }
                .teacher {
                    margin-top: 1rem;
                    font-size: 90;
                    font-style: italic;
                    color: lighten($table-font-color, 25%);
                }
            }
            .details-card {
                background: $table-light-grey-details;
                border-radius: $right-radius;
                @media (max-width: $mobile-screen-width) {
                    border-radius: $bottom-radius; 
                }
                .header {
                    color: #3B3B3B;
                    font-size: 90%;
                    font-style: italic; 
                    text-align: right;
                    &>a>span.pt-icon-standard {
                        cursor: pointer;
                        color: #3B3B3B;
                        &:hover {
                            color: $blueprint-red;
                        }
                    }
                }
                .content {
                    text-align: justify;
                }
            }
        }
    }
}