.pt-dialog.rate-dialog {    
    width: 650px; 
    max-width: 90vw;

    textarea {
        height: 100px;
    }

    .rate-hint {
        color: #3B3B3B;
        font-size: 90%;
        font-style: italic; 
        text-align: center;
        margin-bottom: 1rem; 
    }
}