@import "colors.scss";

nav.navbar-inverse{
  .top-bar {
    &-title.navbar-brand{
        font-family: 'Graduate', cursive;
        color: $secondary-color;
        &>sup {
          font-family: 'Just Another Hand';
          font-size: 90%; 
        }
    }
    &-element { 
      margin-left: 1rem;
    }
  }
}
