$primary-color: rgb(68, 33, 63);
$secondary-color: rgb(254, 193, 54);

$background-primary-color: rgba(68, 33, 63, 1);
$background-secondary-color:  rgba(68, 33, 63, 0.7);

$page-background: radial-gradient($background-secondary-color, $background-primary-color);

$default-button-color: #9D6D9C;
$blueprint-primary-color: #106ba3;

$shadow-background: rgba(0,0,0,0.35);

$blueprint-red: #db3737;

$table-font-color: black;
$table-light-grey: #DADADA;
$table-light-grey-main: rgba($table-light-grey, 0.85);
$table-light-grey-details: rgba($table-light-grey, 0.75);