@import url('https://fonts.googleapis.com/css?family=Graduate');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
@import "colors.scss";

// screen size constans 
$small-screen-width: 600px;
$mobile-screen-width: 991px; // from bootstrap

input.pt-input {
  margin: 2px 0;
}

.page-container {  
  color: white;
  text-align: center;
  width: 800px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;

  .pt-tabs.main-tabs {
    .pt-tab-list{    
      background: $shadow-background;
      border-radius: 5px;
      padding: 0 3px;
      .pt-tab {
        color: inherit;
        padding: 5px; 
        &:focus {
          outline: none;
        }
        &[aria-expanded="true"] {
          color: $secondary-color;
        }
        font-size: 1.7rem; 
      }
      .pt-tab-indicator { 
        color: $secondary-color;
        background-color: $secondary-color;
      }
    }
  }
  
  .title {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    min-height: 3rem;
    a {
      display: flow-root;
    }
    button {
      float: right;
      &::before {
        margin-right: 0;
      }
      &>.add-button-text {
        padding-left: 7px;
        @media (max-width: $small-screen-width) {
          display: none;
        }
      }
    }
  }
}

button.pt-button, span.pt-button {
  bottom: 0;
  &.default-button {
    color: white;
    background: $default-button-color;
    &:hover {
      background: lighten($default-button-color, 5%);
    }
    &:focus {
      outline: none;
    }
  }
  &[class*="pt-icon-"]::before {
    color: inherit
  }
} 

.default-checkbox {
  text-align: left;
  margin-top: 1rem;
  font-weight: normal;
  &.pt-control, &.pt-control:hover {
    input:checked ~ .pt-control-indicator {
      background: $default-button-color;
    }
  }
}

textarea {
  resize: none;
}
