@import 'colors.scss';

.stats {
    &-title {
        text-align: left;
        font-size: 130%;
    }

    &-entity {
        padding: 0.5rem 0;
    }

    &-subtitle {
        font-size: 110%;
    }

    &-content{
        text-align: center;
        margin: 0.5rem 0;
    }

    &-icons {
        color: $secondary-color; 
        margin: 0.5rem 0;
    }

    &-number { 
        font-size: 150%;
        font-weight: 600;
    }
}