@import "global.scss";

.home-page {

  .search-bar {
    margin: 1.5rem 0;
  }

  .pt-button.course-button {
    .course-name {
      color: black;
    }
    .course-id-subtext {
      float: right;
      color: grey;
      font-size: 80%;
    }
  }

  .pt-button-group {
    &>a>button {
      border-radius: 0;
    }
  }

}
