@import "colors.scss";

.login {
  &-page {
    &-container {
      width: 100%;
      height: 100vh;
    }
    &-content {
      color: white;
      text-align: center;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-form {
      display: grid;
      width: 350px;
      max-width: 90%;
      margin: 10px auto;
    }
  }

  &-title {
    font-family: 'Graduate', cursive;
    color: $secondary-color;
    margin-bottom: 1rem;
    &>div.primary {
        font-size: 7rem;
    }
    &>div.secondary {
        font-size: 3.5rem;
    }
  }
  &-button {
    margin: 3px 0;
    width: 100%;
  }
}

.register-footer {
  color: white;
  margin: 5px 0;
  &>span {
    cursor: pointer;
    text-decoration: underline;
  }
}

.google-login {
  &-button {    
    color: black;
    background: white;
    width: 350px;
    max-width: 90%;
    margin: 10px auto;
    border-radius: 3px;
    padding: 3px;
    font-size: 14px;
    min-height: 30px;
    line-height: 30px;
    cursor: pointer;
    &:active {
      background: #f5f5f5;
    }
  }
  &-logo {    
    height: 20px;
    width: 20px;
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    position: absolute; 
  }
}
