@import 'colors.scss';

.loading-container {
    margin-top: 30%;    
    text-align: center;

    .pt-spinner.custom-spinner {
        .pt-spinner-track {
            stroke: rgba($secondary-color, 0.2);
        }
        .pt-spinner-head {
            stroke: rgba($secondary-color, 0.8); 
        }
    }
}