@import "colors.scss";
@import "global.scss";

.files-container {
    text-align: left;
    .files-table {       
        @media (max-width: $small-screen-width) {
            display: none;
        }  
        color: $table-font-color; 
        margin: 1rem 0; 
        &-header {
            background: $table-light-grey-main;
        }
        &-body {
            background: $table-light-grey-details;
            font-size: 90%;
            tbody > tr:hover {
                background-color: lighten($table-light-grey-details, 1%);
                cursor: pointer;
                .react-bs-table-no-data {
                    cursor: default;
                }
            }
        }
    }

    .mobile-files-table {
        color: $table-font-color;
        margin: 1rem 0;  
        @media (min-width: $small-screen-width) {
            display: none;
        }
    } 
    
    
    .file-upload {
        &-panel { 
            text-align: right;
            &>label {
                font-weight: normal;
            }
            &>input[type='file'] {
                display: none;
            }
        }
    }
    .file-details {
        display: flex;
        &-data {
            overflow: auto;
            white-space: normal;
            width: 70%;
        }
        &-download {
            width: 30%;
            text-align: right;
            &>span.pt-icon-standard {
                color: dimgrey;
                font-size: 3.5rem;
            }
        }
    }
}
.pt-dialog.file-dialog {    
    max-width: 90vw;
    
    .file-details {
        .filename {    
            font-weight: normal;
        }
    }
}