@import 'colors.scss';

.stars-summary {
    margin: 1rem 0;
    border-bottom: 1px darkgrey solid;
    .row {
        margin-bottom: 0;
    }
    &-entity {
        padding: 1rem;
    }
    &-title {
        font-size: 95%; 
        text-align: center;
        height: 4rem;
    }
    &-icons {
        color: lighten($secondary-color, 8%);
        text-align: center;
    }    
    .rate-hint {
        color: #3B3B3B;
        font-size: 90%;
        font-style: italic; 
        text-align: center;
        margin-bottom: 0rem; 
    }
}