@import "global.scss";

.christmas-top {
    position: relative;
    right: 28px;
    height: 50px;
}

.snowflakes-animation {    
    @media (max-width: $mobile-screen-width) {
        display: none !important;
    }
}
