@import url(./../node_modules/normalize.css/normalize.css);
@import url(./../node_modules/@blueprintjs/core/dist/blueprint.css);
@import url(./../node_modules/bootstrap/dist/css/bootstrap.css);
@import url(./../node_modules/bootstrap/dist/css/bootstrap-theme.css);
@import url(./../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min.css);
@import url(./global/global.css);
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif; }

#root {
  background: radial-gradient(rgba(68, 33, 63, 0.7), #44213f);
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  overflow-y: auto; }
