// --------------------
// STYLES IMPORTS
// --------------------


@import "colors.scss";
@import "./../node_modules/normalize.css/normalize.css";
@import "./../node_modules/@blueprintjs/core/dist/blueprint.css";
@import './../node_modules/bootstrap/dist/css/bootstrap.css';
@import './../node_modules/bootstrap/dist/css/bootstrap-theme.css';
@import './../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min.css';
@import './global/global.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

#root{
    background: $page-background;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    overflow-y: auto; 
}
