.user-settings-page {
    color: white;
    width: 350px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    a {
        color: white;
        text-align: center;
        margin-top: 3rem;
        &:hover {
            color: inherit;
        }
        .pt-icon-standard {
            margin-right: 5px; 
        }
    }
}
